.cart-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.cart-items-container {
  flex-grow: 1;
  color:black;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item button {
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
  color: white;
}

.item-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-details div {
  margin-right: 20px;
}

.item-details p {
  margin: 5px 0;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.coupon {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.coupon input {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid rgb(154, 154, 154); /* Add this line for a black border */
  border-radius: 5px; /* Optional: adds rounded corners */
}

.coupon button {
  padding: 10px 20px;
}

.cart-summary {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.cart-summary h2 {
  margin-bottom: 10px;
  color: black;
}

.cart-summary p {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.cart-summary p span {
  font-weight: bold;
}

/* New styles */
.continue-shopping-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.continue-shopping-button:hover {
  background-color: #0056b3;
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #218838;
}
