.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
}

.unique-carousel-wrap {
  position: relative;
  margin: 60px auto 10px;
  overflow: hidden;
}

.unique-carousel-container {
  width: 400%;
  height: 550px;
  display: flex;
  transition: margin-left 1s ease-in-out;
}


.unique-switch-button {
  text-align: center;
  margin-top: 10px;
}

.unique-button {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  border: 1px solid blue;
  display: inline-block;
}

.unique-button.active {
  background: blue;
  transform: scale(1.2);
}


.home-first{
  background-color: rgba(225, 202, 128, 0.358);
}

.home-row {
  display: flex;
}

.home-left{
  margin-top: 200px;
  margin-left: 70px;
}

.home-left h1{
  font-size: 45px;
  background: linear-gradient(90deg, #1f0e0a, #fed47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-left p{
  font-size: 20px;
  padding-top: 20px;
  color: black;
}
.home-right img{
  border-radius: 300px 300px 300px 300px;
  margin-right: 70px;
  margin-left: 40px;
  height: 650px;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.home-column {
  flex: 50%;
}


.stat-column {
  float: left;
  width: 33.33%;
  font-size: 30px;
  padding-top: 30px;
  color: black;
}

.span-plus{
  color: orange;
  font-size:30px;
}

.secondaryText{
  font-size: 15px;
  color: black;
}

/* Clear floats after the columns */
.atat-row:after {
  content: "";
  display: table;
  clear: both;
}


.home-second{
  background-color: rgb(242, 238, 232);
  padding-top: 60px ;
}
.home-second h1{
  background: linear-gradient(90deg, #1f0e0a, #fed47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.working{
  padding: 70px;
  column-count: 4;
}

.working-flow img{
  height: 90px;
}


.working-flow h2{
  padding-top: 30px;
  color: black;
  
}

.working-flow p{
  padding-top: 25px;
  color: rgb(69, 67, 67);
}

.home-section {
  width: 100%;
  text-align: center;
}

.home-section h1 {
  background: linear-gradient(90deg, #1f0e0a, #fed47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  column-count: 3;
}

.category-item {
  position: relative;
  display: inline-block;
}

.category-item img {
  display: block;
  width: 100%;
  height: 280px;
  border-radius: 20px;
  margin-top: 30px;
  transition: transform 0.3s ease;
  transform: scale(0.9);
}

.category-item img:hover {
  transform: scale(1);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 25px;
  background-color: rgba(40, 37, 37, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
}

.category-link {
  color: rgb(242, 233, 233);
  text-decoration: none;
}

.home-video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.home-video video {
  width:100vw;
  height: auto;
  border: 2px solid #ddd; /* Optional border */
  border-radius: 8px; /* Optional rounded corners */
}


/* Slider */

.home-fourth{
  margin-top: 60px ;
  margin-left: 50px;
  margin-right: 50px;
}
.home-fourth{
  background: linear-gradient(90deg, #1f0e0a, #fed47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sliders-partner{
  padding-top: 40px;
}
.slick-slide {
  margin: 0px 5px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media screen and (max-width: 64rem) {
  .col {
      width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
      width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
      width: 100%;
      margin: 0 0 2rem 0;
  }
}
  