.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .contact-page {
    background-color: #faf1e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
  }
  
  .contact-page:hover {
    box-shadow: 0 8px 16px rgba(236, 193, 133, 0.2);
    border-color: #007bff;
    transform: translateY(-5px); /* Slight lift on hover */
  }
  
  .contact-page h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #1f0e0a, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .contact-page form div {
    margin-bottom: 15px;
  }
  
  .contact-page label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
  }
  
  .contact-page input,
  .contact-page textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    
    width: 380px;
  }
  
  .contact-page input:focus,
  .contact-page textarea:focus {
    
    outline: none;
  }
  
  .contact-page input:hover {
    border-color: #007bff; /* Change border color on hover */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  
  .contact-page textarea:hover {
    border-color: #007bff; /* Change border color on hover */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3); /* Add a shadow effect */
  }
  
  .contact-page textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .contact-page button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 180px;
    margin: 0 auto;
    
  }
  
  .contact-page button:hover {
    background-color: #0056b3;
  }
  
  .contact-page p {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  @media (max-width: 600px) {
    .contact-page {
      padding: 20px;
    }
  }